*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 239, 205);
    font-family: 'Inknut Antiqua', serif;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

ul {
    list-style: none;
    background-color: #2C4D59;
    display: flex;
    justify-content: center;
}

ul li {
    display: block;
    padding: 10px 16px;
}

a {
    color: rgb(255, 239, 205);
    text-decoration: none;
}

h1 {
    color: #2C4D59;
    font-size: 64px;
    position: relative;
    text-shadow: 4px 3px 0px #15252b;
    left: 80px;
    top: 80px;
}

.intro-paragraph {
    font-size: 20px;
    color: #753333;
    position: relative;
    left: 80px;
    top: 80px;
}

#character-set {
    color: #2C4D59;
    text-shadow: 4px 3px 0px #15252b;
    font-size: 64px;
    font-weight: bold;
    top: 175px;
    position: relative;
    text-align: center;
    padding-top: 45px;
}

span {
    display: inline-block;
    transition: 0.3s ease;
}

#character-set span:hover {
    color: #753333;
    text-shadow: 4px 4px 0px #421e00;
    transform: translateY(10px) scale(1.5);
}

#display {
    color: #2C4D59;
    font-size: 60px;
    scroll-margin-top: -150px;
}

#display span:hover{
    color:#753333;
    transform: translateY(10px) scale(1.5);
}

.display-1 {
    position: relative;
    top: 290px;
    left: 220px;
    font-weight: 900;
}

.display-2 {
    position: relative;
    left: 420px;
    top: 290px;
    font-weight: 700;
}

.display-3 {
    position: relative;
    left: 640px;
    top: 290px;
    font-weight: 500;
}

.display-4 {
    position: relative;
    left: 810px;
    top: 290px;
    font-weight: 400;
}

.display-5 {
    position: relative;
    left: 1080px;
    top: 290px;
    font-weight: 300;
}

#body-copy {
    color: #753333;
}

.paragraph-1 {
    font-size: 30px;
    font-weight: 700;
    scroll-margin-top: 80px;
    border: 6px solid #2C4D59;
    box-shadow: 5px 5px 0px 0px #15252b;
    padding: 80px;
    line-height: 45px;
    position: relative;
    top: 475px;
    left: 80px;
    width: fit-content;
}

.paragraph-2 {
    font-size: 24px;
    border: 6px solid #2C4D59;
    box-shadow: 5px 5px 0px 0px #15252b;
    padding: 60px;
    font-weight: 400;
    line-height: 35px;
    position: absolute;
    top: 570px;
    left: 550px;
    width: 1000px;
}

.paragraph-3 {
    font-size: 20px;
    border: 6px solid #2C4D59;
    box-shadow: 5px 5px 0px 0px #15252b;
    padding: 60px;
    font-weight: 300;
    line-height: 35px;
    position: absolute;
    top: 910px;
    left: 0px;
    width: fit-content;
}

.healing {
    position: relative;
    scroll-margin-top: 80px;
    scroll-margin-left: 200px;
    top: 1400px;
    left: 150px;
}

.preparation {
    position: absolute;
    top: 400px;
    left: 750px;
}

.facial {
    position: absolute;
    top: 800px;
}

.event-title {
    font-size: 32px;
    color: #2C4D59;
    font-weight: 700;
}

.desc {
    font-size: 24px;
    color: #753333;
    font-weight: 400;
    line-height: 38px;
}

.time {
    font-size: 24px;
    color: #2C4D59;
    font-weight: 700;
}

.button {
    padding: 10px;
    width: 100px;
    text-align: center;
    background-color: #D9D9D9;
    color:#2C4D59;
    position: relative;
    top: 30px;
    cursor: pointer;
    font-size: 15px;
}

footer {
    background-color: #2C4D59;
    color: rgb(255, 239, 205);
    text-align: center;
    position: relative;
    top: 2500px;
    width: 100%;

    a:link {
        color: rgb(255, 239, 205);
        text-decoration: none;
    }

    a:visited {
        color: rgb(255, 239, 205);
    }
}